html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #010a09;
  overflow: hidden;
}

#game {
  width: 100vw;
  height: 100vh;
  touch-action: none;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  image-rendering: optimizeSpeed;
  -webkit-tap-highlight-color: transparent;
}
